/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */
html {
  scroll-behavior: smooth;
}

:root {
  --qwik-dark-blue: #006ce9;
  --qwik-light-blue: #18b6f6;
  --qwik-light-purple: #ac7ff4;
  --qwik-dark-purple: slateblue;
}

body {
  background-color: #fafafa;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  padding: 20px 20px 40px 20px;
}

main {
  padding: 0 10px 0 10px;
  margin: 0 auto;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 130px -50px var(--qwik-dark-purple);
  overflow: hidden;
  animation: fadein 2s;
  -moz-animation: fadein 2s;
  /* Firefox */
  -webkit-animation: fadein 2s;
  /* Safari and Chrome */
  -o-animation: fadein 2s;
  /* Opera */
}



.lightning {
  filter: hue-rotate(180deg);
}

section {

  border-bottom: 10px solid var(--qwik-dark-purple);
}

ol {

  padding-left: 20px;
}

p {
  font-family: 'andle mono', monospace;
  font-size: 0.9rem;
  padding: 3px 0;
}

li::marker {
  color: var(--qwik-dark-blue);
}

a,
a:visited {
  color: var(--qwik-dark-blue);
}

a:hover {
  text-decoration: none;
}

table.commands {
  margin: 0 0 30px 0;
}

.commands td {
  padding: 5px;
}

.commands td:first-child {
  white-space: nowrap;
  padding-right: 20px;
}



footer {
  padding: 15px;
  text-align: center;
  font-size: 0.8em;
}

footer a {
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}



.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;

}

.column {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: flex-start;
}

input[type=radio] {
  padding: 0.5em;
  -webkit-appearance: none;
  outline: 0.1em solid black;
  outline-offset: 0.1em;
}

input[type=radio]:checked {
  display: inline-block;
  background-color: var(--qwik-dark-purple);
}
input[type=radio]:hover {
  background-color: var(--qwik-dark-purple);
}
.dClicked {
  display: inline-block;
  background-color: #E74C3C;

}


.theader {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

table {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.15rem;
}

td,
th {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border: 1px dotted;
}

.game-panel {
  animation: fadein 3s;
  -moz-animation: fadein 3s;
  /* Firefox */
  -webkit-animation: fadein 3s;
  /* Safari and Chrome */
  -o-animation: fadein 3s;
  /* Opera */
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {

  /* Firefox */
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {

  /* Safari and Chrome */
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-o-keyframes fadein {

  /* Opera */
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
.type {
  border-right: 3px solid;
  font-family: monospace;
  color: #0000;
  background:
      linear-gradient(-90deg, #000000 5px, #0000 0) 10px 0,
      linear-gradient(#000000 0 0) 0 0;
  background-size: calc(var(--n)*1ch) 200%;
  -webkit-background-clip: padding-box, text;
  background-clip: padding-box, text;
  background-repeat: no-repeat;
  animation:
      b .7s infinite steps(1),
      t calc(var(--n)*.04s) steps(var(--n)) forwards;
}


@keyframes t {
  from {
      background-size: 0 200%
  }
}

@keyframes b {
  50% {
      background-position: 0 -100%, 0 0
  }
}